{{- $currentUrl := .Page.RelPermalink -}}
{{- $version := "" -}}
{{- $releaseVersion := "" -}}
{{- if findRE `^/docs/v[0-9]+\.[0-9]+/` $currentUrl -}}
  {{- $version = replaceRE `^/docs/(v[0-9]+\.[0-9]+)/.*` "$1" $currentUrl -}}
{{- else -}}
  {{- $version = $.Site.Params.latestVersion | default "v0.22" -}}
{{- end -}}
{{- range $.Site.Params.versions -}}
  {{- if eq .version $version -}}
    {{- $releaseVersion = .releaseVersion -}}
  {{- end -}}
{{- end -}}
{{- if not $releaseVersion -}}
  {{- $releaseVersion = $version -}}
{{- end -}}
{{ with .Get 0 }}{{ $.Site.Params.tinkerbellRepo }}/tree/{{ $releaseVersion }}/{{ . }}{{ end }}
